[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
feedparser = ">5.2"
beautifulsoup4 = ">4.7"
pytelegrambotapi = "*"

[dev-packages]

[requires]
python_version = "3.5"
