[[source]]
verify_ssl = false
url = "https://pypi.org/simple"
name = "pypi"

[packages]
feedparser = ">5.2"
beautifulsoup4 = ">4.7"
pytelegrambotapi = ">3.6.5"

[dev-packages]

[requires]
python_version = "3.5.2"
